.col-s-3 {
    background-color: #3C3C3C;
    color: #F5F5F5;
    padding: 3%;
    margin-top: 2%;
}

.glyphicon-plus {
    color: #1CFEBA;
}

.expand {
    background-color: #505050;
    width: 30%;
    color: #1CFEBA;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 2%;
}

.text-body {
    background-color: #484848;
    padding: 1%;
    word-wrap: break-word;
    width: 85%;
    float: right;
}

.main-row {
    padding-left: 10%;
    height: 100%;
}

.issues {
    width: 80%;
}

.col-md-5 {
    float: right;
}

img {
    width: 50%;
}

.url a:hover {
    text-decoration: none;
    color: none;
}

.createdAt {
    font-weight: bold;
}

.container {
    width: 100%;
}

.issue {
    width: 100%;
}