<div class="container">
    <div class="row main-row">
        <h2>
            {{title}}
        </h2>
        <div class="issues">
            <div class="col-s-3 issue" *ngFor="let line of tempIssuesArray">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{line.author.url}}" target="_blank"><img src="{{line.author.avatarUrl}}"></a>
                    </div>
                    <div class="col-md-5">
                        <div class="row ">
                            <div class="title ">
                                <h3>{{line.title}}</h3>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="url ">
                                <p>
                                    {{line.bodyText}}
                                </p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="createdAt ">
                                <p>
                                    {{line.createdAt}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>