.col-s-3 {
    background-color: #3C3C3C;
    color: #F5F5F5;
    padding: 5%;
    margin-top: 2%;
    box-shadow: 0.5px 0.5px 5px #888888;
}

.glyphicon-plus {
    color: #1CFEBA;
}

.expand {
    background-color: #505050;
    width: 30%;
    color: #1CFEBA;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 2%;
}

.text-body {
    background-color: #484848;
    padding: 1%;
    word-wrap: break-word;
    width: 85%;
    float: right;
}

.content {
    margin-top: 2%;
}

.img-circle {
    float: left;
}

.content-row {
    margin-top: 5%;
    border-top: 1px solid #525252;
}

.main-row {
    padding-left: 10%;
    height: 100%;
}

img {
    width: 10%;
}

.issues {
    width: 30%;
}

.url a:hover {
    text-decoration: none;
    color: none;
}

.createdAt {
    font-weight: bold;
}

.container {
    width: 100%;
}

.issue {
    width: 100%;
}